@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Work+Sans:wght@100&display=swap');


* {
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* navbar */

ul {
    list-style: none;
}



.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(0, 0, 0);
  
}

.nav-links {
    display: flex;
    align-items: center;

}

.nav-links li {
    margin: 0px 30px;

}



header {
    background-color: rgb(249, 242, 242);
    width: 100vw;
    height: 100vw;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    
}

.header-content {
    color: rgb(83, 67, 76);
    text-align: center;
    margin-bottom: 50vw;

}

.header-content h2 {
    font-size: 55px;
    font-weight: bold;
    color: rgb(67, 33, 33);
    opacity: 0.7;
}

.line {
    height: 4px;
    width: 150px;
    background-color: rgb(81, 63, 63);
    margin: 10px auto;
    border-radius: 5px;
   
}

.header-content p {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background:rgb(67, 33, 33);
    border-radius: 30px;
    color: whitesmoke;
}